<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <link rel="stylesheet" th:href="@{/css/login.css}">

    <title>Login</title>

</head>


<body>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" method="post" th:action="@{/authenticateUser}">
                        <div class="form-label-group">
                            <input type="text" name="username" id="inputUsername" class="form-control"
                                   placeholder="Username" required autofocus>
                            <label for="inputUsername">Username</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <button class="btn btn-lg btn-dark btn-block text-uppercase" id="loginButton" type="submit">
                            Sign in
                        </button>
                    </form>

                    <!-- Demo Login -->
                    <div class="row justify-content-center mt-5">
                        <a href="#" id="demoLoginLink">Sign in as a Demo User</a>
                    </div>

                    <!-- Demo Admin -->
                    <div class="row justify-content-center mt-5 p-2" id="demoLogin" hidden="hidden">
                        <div class="col-3 text-center demo-admin">
                            <form class="form-signin" method="post" th:action="@{/authenticateUser}">
                                <input type="hidden" name="username" value="DemoAdmin"/>
                                <input type="hidden" name="password" value="demoadmin"/>
                                <button type="submit"><i class="fas fa-user-tie"></i>
                                    <div class="row justify-content-center">Admin</div>
                                </button>
                            </form>
                        </div>

                        <!-- Demo Manager -->
                        <div class="col-3 text-center demo-manager">
                            <form class="form-signin" method="post" th:action="@{/authenticateUser}">
                                <input type="hidden" name="username" value="DemoManager"/>
                                <input type="hidden" name="password" value="demomanager"/>
                                <button type="submit"><i class="fas fa-user-tie"></i>
                                    <div class="row justify-content-center">Manager</div>
                                </button>
                            </form>
                        </div>

                        <!-- Demo Employee -->
                        <div class="col-3 text-center demo-employee">
                            <form class="form-signin" method="post" th:action="@{/authenticateUser}">
                                <input type="hidden" name="username" value="DemoEmployee"/>
                                <input type="hidden" name="password" value="demoemployee"/>
                                <button type="submit"><i class="fas fa-user-tie"></i>
                                    <div class="row justify-content-center">Employee</div>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/login.js}"></script>
<th:block th:replace="layouts :: layoutScripts"></th:block>
</body>

</html>