<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <title th:replace="layouts :: layoutTitle"></title>

</head>

<body>

<div id="wrapper">
    <th:block th:replace="layouts :: layoutSidebar"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="layouts :: layoutNavbar"></th:block>

            <!-- Page Content -->
            <div class="container-fluid">
                <h3>Demo users are not allowed to change the data...</h3>
                <p>
                <h5>If you want full access, please contact me - amitc146@gmail.com and I'll create a user for you.</h5>

                <a th:href="@{/}">Back to Home Page</a>
            </div>
            <!-- End of Page Content -->

        </div>
        <th:block th:replace="layouts :: layoutFooter"></th:block>
    </div>
</div>

<th:block th:replace="layouts :: layoutScripts"></th:block>
</body>

</html>
