<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <title th:replace="layouts :: layoutTitle"></title>

</head>

<body>

<div id="wrapper">
    <th:block th:replace="layouts :: layoutSidebar"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="layouts :: layoutNavbar"></th:block>


            <!-- Page Content -->
            <div class="container-fluid">

                <div class="custom-card-container">

                    <!-- Header -->
                    <div class="card-container-header">
                        <h4 class="row">User Details</h4>
                    </div>

                    <div class="row m-2 py-4 justify-content-around">
                        <div class="col-11 m-2 p-0">
                            <div class="card col-xl-4 shadow m-2 p-0 bg-light">
                                <div class="card-body">
                                    <table class="table table-borderless">
                                        <tbody>
                                        <tr>
                                            <th>Username</th>
                                            <td th:text="${user.userName}"></td>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td th:text="${user.email}"></td>
                                        </tr>
                                        <tr>
                                            <th>Role</th>
                                            <td th:each="role : ${user.roles}" th:text="${role}"></td>
                                        </tr>
                                        <tr>
                                            <th>Projects</th>
                                            <td th:text="${user.projects.size()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Page Content -->


        </div>
        <th:block th:replace="layouts :: layoutFooter"></th:block>
    </div>

</div>

<th:block th:replace="layouts :: layoutScripts"></th:block>

</body>

</html>