<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <title th:replace="layouts :: layoutTitle"></title>

</head>

<body>

<div id="wrapper">
    <th:block th:replace="layouts :: layoutSidebar"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="layouts :: layoutNavbar"></th:block>


            <!-- Page Content -->
            <div class="container-fluid">

                <a th:href="@{/tickets/new}"
                   class="btn btn-primary btn-sm mb-3">
                    Add Ticket
                </a>

                <table class="table table-bordered table-striped">

                    <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Project</th>
                        <th>Submitter</th>
                        <th>Creation Date</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">Action</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="tempTicket : ${tickets}">

                        <td th:text="${tempTicket.title}"></td>
                        <td th:text="${tempTicket.description}"></td>
                        <td th:text="${tempTicket.project.name}"></td>
                        <td th:text="${tempTicket.submitter}"></td>
                        <td th:text="${tempTicket.creationDate}"></td>
                        <td th:text="${tempTicket.priority.displayValue}"></td>
                        <td th:text="${tempTicket.status.displayValue}"></td>

                        <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
                            <a th:href="@{/tickets/{id}/update(id=${tempTicket.id})}"
                               class="btn btn-info btn-sm">
                                Update
                            </a>

                            <a th:href="@{/tickets/delete(ticketId=${tempTicket.id})}"
                               class="btn btn-danger btn-sm"
                               onclick="if (!(confirm('Are you sure you want to delete this ticket?'))) return false">
                                Delete
                            </a>
                        </td>

                    </tr>

                    </tbody>

                </table>

            </div>
            <!-- End of Page Content -->


        </div>
        <th:block th:replace="layouts :: layoutFooter"></th:block>
    </div>

</div>

<th:block th:replace="layouts :: layoutScripts"></th:block>
</body>

</html>