<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <title th:replace="layouts :: layoutTitle"></title>

</head>

<body>

<!--/*@thymesVar id="currentUser" type="com.amit.bugtracker.entity.User"*/-->

<div id="wrapper">
    <th:block th:replace="layouts :: layoutSidebar"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="layouts :: layoutNavbar"></th:block>


            <!-- Page Content -->
            <div class="container-fluid">

                <div class="custom-card-container">

                    <!-- Header -->
                    <div class="card-container-header">
                        <h4 class="row">Tickets</h4>
                    </div>

                    <!-- Tickets -->
                    <div class="row justify-content-center align-items-start py-2 m-0">
                        <div class="card col-xl-11 shadow m-2 p-0">

                            <div class="card-header">
                                <div class="row align-items-end">
                                    <ul class="nav nav-tabs card-header-tabs col mx-1" id="tabLinks">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Open Tickets</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Closed Tickets</a>
                                        </li>
                                    </ul>
                                    <a class="col-1 mr-2 btn btn-outline-dark"
                                       th:href="@{/tickets/new}">Create Ticket</a>
                                </div>
                            </div>

                            <div class="card-body">
                                <!-- Open Tickets -->
                                <table class="table table-borderless table-hover" id="openTickets">
                                    <thead>
                                    <tr class="border-bottom border-dark">
                                        <th>Title</th>
                                        <th>Project</th>
                                        <th>Submitter</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        <th>Created</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="border-top tickets-list" th:each="ticket : ${openTickets}">
                                        <td th:text="${ticket.title}"></td>
                                        <td th:text="${ticket.project.name}"></td>
                                        <td th:text="${ticket.submitter.fullName}"></td>
                                        <td th:text="${ticket.priority.displayValue}" class="ticket-priority"></td>
                                        <td th:text="${ticket.status.displayValue}" class="ticket-status"></td>
                                        <td th:text="${ticket.creationDate}"></td>
                                        <td><a th:href="@{/tickets/{id}(id=${ticket.id})}">More Details</a></td>
                                        <td>
                                            <a th:if="${ticket.submitter == currentUser || currentUser.admin || currentUser.manager}"
                                               th:href="@{/tickets/{id}/update(id=${ticket.id})}"
                                               class="btn btn-sm btn-outline-primary"
                                               data-toggle="tooltip" data-placement="top" title="Edit Ticket">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a th:if="${ticket.submitter == currentUser || currentUser.admin || currentUser.manager}"
                                               th:href="@{/tickets/delete(ticketId=${ticket.id})}"
                                               class="btn btn-sm btn-outline-danger"
                                               data-toggle="tooltip" data-placement="top" title="Delete Ticket"
                                               onclick="if (!(confirm('Are you sure you want to delete this ticket?'))) return false">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- Closed Tickets -->
                                <table class="table table-borderless table-hover" id="closedTickets" hidden>
                                    <thead>
                                    <tr class="border-bottom border-dark">
                                        <th>Title</th>
                                        <th>Project</th>
                                        <th>Submitter</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        <th>Created</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="border-top tickets-list" th:each="ticket : ${closedTickets}">
                                        <td th:text="${ticket.title}"></td>
                                        <td th:text="${ticket.project.name}"></td>
                                        <td th:text="${ticket.submitter.fullName}"></td>
                                        <td th:text="${ticket.priority.displayValue}" class="ticket-priority"></td>
                                        <td th:text="${ticket.status.displayValue}" class="ticket-status"></td>
                                        <td th:text="${ticket.creationDate}"></td>
                                        <td><a th:href="@{/tickets/{id}(id=${ticket.id})}">More Details</a></td>
                                        <td th:if="${ticket.submitter == currentUser || currentUser.admin || currentUser.manager}">
                                            <a th:href="@{/tickets/{id}/update(id=${ticket.id})}"
                                               class="btn btn-sm btn-outline-primary"
                                               data-toggle="tooltip" data-placement="top" title="Edit Ticket">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a th:href="@{/tickets/delete(ticketId=${ticket.id})}"
                                               class="btn btn-sm btn-outline-danger"
                                               data-toggle="tooltip" data-placement="top" title="Delete Ticket"
                                               onclick="if (!(confirm('Are you sure you want to delete this ticket?'))) return false">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Page Content -->


        </div>
        <th:block th:replace="layouts :: layoutFooter"></th:block>
    </div>

</div>

<th:block th:replace="layouts :: layoutScripts"></th:block>
<script th:src="@{/js/list-tickets.js}"></script>
<script th:src="@{/js/tickets-style.js}"></script>
<script th:src="@{/js/lists.js}"></script>
</body>

</html>