<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <title th:replace="layouts :: layoutTitle"></title>

</head>

<body>

<div id="wrapper">
    <th:block th:replace="layouts :: layoutSidebar"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="layouts :: layoutNavbar"></th:block>

            <!-- Page Content -->
            <div class="container-fluid">

                <div class="custom-card-container">

                    <!-- Header -->
                    <div class="card-container-header">
                        <h4 class="row">Ticket Information</h4>
                        <div class="row">
                            <a th:href="@{/tickets/{id}/update(id=${ticket.id})}">Edit Ticket</a>
                            &nbsp;&nbsp;
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')"
                               th:href="@{/tickets/delete(ticketId=${ticket.id})}"
                               onclick="if (!(confirm('Are you sure you want to delete this ticket?'))) return false">
                                Delete Ticket</a>
                        </div>
                    </div>

                    <div class="row border-bottom justify-content-between px-4 pb-5 m-4">
                        <!-- Ticket Details -->
                        <div class="card col-lg-4 col-xl-5 shadow m-2 p-0">
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold">Ticket Details</h5>
                            </div>

                            <div class="card-body bg-white">
                                <div class="row border-bottom m-2 pb-2 justify-content-around">
                                    <div class="col m-2 p-0">
                                        <h6 class="font-weight-bold">Title</h6>
                                        <span th:text="*{ticket.title}"></span>
                                    </div>
                                    <div class="col m-2 p-0">
                                        <h6 class="font-weight-bold">Project</h6>
                                        <span>
                                            <a th:href="@{/projects/{id}(id=${ticket.project.id})}"
                                               th:text="*{ticket.project.name}"></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="row border-bottom m-2 py-2 justify-content-around">
                                    <div class="col m-2 p-0">
                                        <h6 class="font-weight-bold">Status</h6>
                                        <span th:text="*{ticket.status.displayValue}"></span>
                                    </div>
                                    <div class="col m-2 p-0">
                                        <h6 class="font-weight-bold">Priority</h6>
                                        <span th:text="*{ticket.priority.displayValue}"></span>
                                    </div>
                                </div>
                                <div class="row border-bottom m-2 py-2 justify-content-around">
                                    <div class="col m-2 p-0">
                                        <h6 class="font-weight-bold">Submitter</h6>
                                        <span th:text="*{ticket.submitter.fullName}"></span>
                                    </div>
                                    <div class="col m-2 p-0">
                                        <h6 class="font-weight-bold">Created</h6>
                                        <span th:text="*{ticket.creationDate}"></span>
                                    </div>
                                </div>
                                <div class="row m-2 pt-2 justify-content-around">
                                    <div class="col m-2 p-0">
                                        <h6 class="font-weight-bold">Description</h6>
                                        <span th:text="*{ticket.description}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Comments -->
                        <div class="card col-lg-7 col-xl-6 m-2 p-0 shadow">
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold">Ticket Comments</h5>
                            </div>
                            <div class="card-body bg-white">

                                <div class="row border-bottom m-2 pb-2">
                                    <table class="table table-hover table-borderless">
                                        <thead>
                                        <tr class="border-bottom border-dark">
                                            <th>Commenter</th>
                                            <th>Comment</th>
                                            <th>Created</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="border-top" th:each="comment : ${ticket.comments}">
                                            <td style="width: 15%"
                                                th:text="${comment.user.fullName}"></td>
                                            <td style="width: 71%" th:text="${comment.text}"></td>
                                            <td style="width: 11%" th:text="${comment.creationDate}"></td>
                                            <td style="width: 3%;">
                                                <a th:href="@{/tickets/deleteComment(commentId=${comment.id})}"
                                                   class="mild-red"
                                                   onclick="if (!(confirm('Delete this comment?'))) return false">
                                                    <i class="fas fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <form th:action="@{/tickets/{id}/saveComment(id=${ticket.id})}" th:object="${comment}"
                                      method="post"
                                      class="form row m-1 py-4" role="form" autocomplete="off">

                                    <input type="hidden" th:field="${comment.id}"/>

                                    <input type="hidden" th:field="${comment.ticket.id}"/>

                                    <input type="hidden" th:field="${comment.user.id}"/>

                                    <input class="form-control col-lg-9 mx-3" type="text" placeholder="Add Comment"
                                           required maxlength="60"
                                           th:field="${comment.text}">
                                    <button type="submit" class="btn btn-primary col-lg-2">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-between px-4 py-2 m-4">
                        <!-- History -->
                        <div class="card col-xl-5 shadow m-2 p-0">
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold">Ticket History</h5>
                            </div>

                            <div class="card-body bg-white">
                                <div class="row m-2 pb-2">
                                    <table class="table table-borderless">
                                        <thead>
                                        <tr class="border-bottom border-dark">
                                            <th>User</th>
                                            <th>Operation</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="border-top">
                                            <td>Username</td>
                                            <td>Text</td>
                                            <td>01/01/2020</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- End of Page Content -->
        </div>
        <th:block th:replace="layouts :: layoutFooter"></th:block>
    </div>

</div>

<th:block th:replace="layouts :: layoutScripts"></th:block>
</body>

</html>