<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <title th:replace="layouts :: layoutTitle"></title>

</head>

<body>

<!--/*@thymesVar id="currentUser" type="com.amit.bugtracker.entity.User"*/-->

<div id="wrapper">
    <th:block th:replace="layouts :: layoutSidebar"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="layouts :: layoutNavbar"></th:block>

            <!-- Page Content -->
            <div class="container-fluid">
                <div class="custom-card-container">

                    <!-- Header -->
                    <div class="card-container-header">
                        <h4 class="row">Users</h4>
                    </div>

                    <!-- Users -->
                    <div class="row justify-content-center align-items-start py-2 m-0">
                        <div class="card col-xl-11 shadow m-2 p-0">

                            <div class="card-header" th:if="${currentUser.admin}">
                                <div class="row justify-content-end">
                                    <a class="mr-2 btn btn-outline-dark"
                                       th:href="@{/users/new}">Create New User</a>
                                </div>
                            </div>

                            <div class="card-body">
                                <table class="table table-borderless table-hover">
                                    <thead>
                                    <tr class="border-bottom border-dark">
                                        <th>Username</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th class="text-center">Projects</th>
                                        <th th:if="${currentUser.admin}"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="border-top"
                                        th:each="user : ${users}">
                                        <td th:text="${user.userName}"></td>
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:each="role : ${user.roles}" th:text="${role}"></td>
                                        <td th:text="${user.projects.size()}" class="text-center"></td>
                                        <td th:if="${currentUser.admin}">
                                            <a th:href="@{/users/{id}/update(id=${user.id})}"
                                               class="btn btn-sm btn-outline-primary"
                                               data-toggle="tooltip" data-placement="top" title="Edit User">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a th:href="@{/users/{id}/delete(id=${user.id})}"
                                               class="btn btn-sm btn-outline-danger"
                                               data-toggle="tooltip" data-placement="top" title="Delete User"
                                               onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Page Content -->
        </div>
        <th:block th:replace="layouts :: layoutFooter"></th:block>
    </div>

</div>

<th:block th:replace="layouts :: layoutScripts"></th:block>
<script th:src="@{/js/lists.js}"></script>
</body>

</html>