<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <title th:replace="layouts :: layoutTitle"></title>

</head>

<body>

<div id="wrapper">
    <th:block th:replace="layouts :: layoutSidebar"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="layouts :: layoutNavbar"></th:block>


            <!-- Page Content -->
            <div class="container-fluid">

                <!-- Form -->
                <div class="col-lg-8 col-xl-5 m-2">
                    <div class="card card-outline-secondary">
                        <div class="card-header bg-dark text-light">
                            <h3 class="mb-0">User Information</h3>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/users/save}" th:object="${user}" method="post"
                                  class="form" role="form" autocomplete="off">

                                <!-- Place for messages: error, alert etc ... -->
                                <div class="form-group row">
                                    <div class="col-sm-15">
                                        <div>
                                            <!-- Check for registration error -->
                                            <div th:if="${registrationError}"
                                                 class="alert alert-danger col-sm-offset-1 col-xs-10">
                                                <span th:text="${registrationError}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" th:field="*{id}"/>

                                <input type="hidden" th:field="*{projects}"/>

                                <!-- Username -->
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <input class="form-control" type="text" placeholder="Username" required
                                               th:field="*{userName}">
                                    </div>
                                    <div th:if="${#fields.hasErrors('userName')}" class="mb-2 text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('userName')}"
                                                th:text="'User name ' + ${err}"></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <input class="form-control" type="password" placeholder="Password" required
                                               th:field="*{password}" th:errorclass="fieldError"/>
                                    </div>
                                    <div th:if="${#fields.hasErrors('password')}" class="mb-2 text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('password')}"
                                                th:text="'Password ' + ${err}"></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- First name -->
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <input class="form-control" type="text" placeholder="First name" required
                                               th:field="*{firstName}">
                                    </div>
                                    <div th:if="${#fields.hasErrors('firstName')}" class="mb-2 text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('firstName')}"
                                                th:text="'First name ' + ${err}"></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Last name -->
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <input class="form-control" type="text" placeholder="Last name" required
                                               th:field="*{lastName}">
                                    </div>
                                    <div th:if="${#fields.hasErrors('lastName')}" class="mb-2 text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('lastName')}"
                                                th:text="'Last name ' + ${err}"></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="form-group row">
                                    <div class="col-xl-12">
                                        <input class="form-control" type="email" placeholder="Email" required
                                               th:field="*{email}">
                                    </div>
                                    <div th:if="${#fields.hasErrors('email')}" class="mb-2 text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('email')}"
                                                th:text="'Email ' + ${err}"></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Role -->
                                <div class="form-group row">
                                    <label class="col-xl-12 col-form-label form-control-label">Role</label>
                                    <div class="col-xl-12">
                                        <div class="custom-control custom-radio" id="roleRadio"
                                             th:each="role : ${roles}">
                                            <input type="radio" class="custom-control-input" required
                                                   th:id="${role}" th:value="${role.id}" th:field="*{roles}"
                                                   th:errorclass="fieldError"/>
                                            <label class="custom-control-label" for="roleRadio"
                                                   th:for="${role}" th:text="${role}"></label>
                                        </div>
                                    </div>
                                    <div th:if="${#fields.hasErrors('email')}" class="mb-2 text-danger">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('roles')}"
                                                th:text="'Roles ' + ${err}"></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div class="form-group row pt-3">
                                    <label class="col-form-label form-control-label"></label>
                                    <div class="col-lg-10">
                                        <input type="submit" class="btn btn-primary px-5" value="Save">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Form -->

            </div>
            <!-- End of Page Content -->


        </div>
        <th:block th:replace="layouts :: layoutFooter"></th:block>
    </div>

</div>

<th:block th:replace="layouts :: layoutScripts"></th:block>
</body>

</html>