<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <title th:replace="layouts :: layoutTitle"></title>

</head>

<body>

<div id="wrapper">
    <th:block th:replace="layouts :: layoutSidebar"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="layouts :: layoutNavbar"></th:block>


            <!-- Page Content -->
            <div class="container-fluid">

                <div class="custom-card-container">

                    <!-- Header -->
                    <div class="card-container-header">
                        <h4 class="row">Dashboard </h4>
                    </div>

                    <div class="row m-2 py-4 justify-content-around">
                        <div class="col-11 m-2 p-0">

                            <div class="row">
                                <div class="card col-2 shadow m-2 p-0 bg-light">
                                    <div class="card-body">
                                        <canvas id="ticketPriorityChart" height="300" width="300"></canvas>
                                        <script>
                                            const ticketPriorityCount = "[[${ticketPriorityCount}]]";
                                        </script>
                                    </div>
                                </div>

                                <div class="card col-2 shadow m-2 p-0 bg-light">
                                    <div class="card-body">
                                        <canvas id="ticketsProjectsChart" height="300" width="300"></canvas>
                                        <script>
                                            const ticketProjectCount = "[[${ticketProjectCount}]]";
                                        </script>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End of Page Content -->


</div>
<th:block th:replace="layouts :: layoutFooter"></th:block>
</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.js"></script>
<script type="text/javascript" th:src="@{/js/charts.js}"></script>
<th:block th:replace="layouts :: layoutScripts"></th:block>

</body>

</html>