<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <title th:replace="layouts :: layoutTitle"></title>

</head>

<body>

<div id="wrapper">
    <th:block th:replace="layouts :: layoutSidebar"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="layouts :: layoutNavbar"></th:block>
            <!-- Page Content -->
            <div class="container-fluid">

                <div class="custom-card-container">

                    <!-- Header -->
                    <div class="card-container-header">
                        <h4 class="row">Dashboard</h4>
                    </div>

                    <div class="row p-0 py-2 justify-content-center">
                        <!-- Projects Statistics -->
                        <div class="card col-xl-10 shadow m-2 p-0">
                            <div class="card-header">
                                <h5 class="m-0 font-weight-bold">Projects Statistics</h5>
                            </div>
                            <div class="card-body bg-white">
                                <div class="row justify-content-around">
                                    <div class="col-5">
                                        <canvas id="ticketsProjectsChart" height="300" width="300"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row p-2 justify-content-center">
                        <!-- Tickets Statistics -->
                        <div class="card col-xl-5 shadow m-2 p-0">
                            <div class="card-header">
                                <h5 class="m-0 font-weight-bold">Tickets Statistics</h5>
                            </div>
                            <div class="card-body bg-white">
                                <div class="row justify-content-center">
                                    <div class="col-5 border-right">
                                        <canvas id="ticketPriorityChart" height="300" width="300"></canvas>
                                    </div>
                                    <div class="col-5">
                                        <canvas id="ticketStatusChart" height="300" width="300"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Users Statistics -->
                        <div class="card col-xl-5 shadow m-2 p-0">
                            <div class="card-header">
                                <h5 class="m-0 font-weight-bold">Users Statistics</h5>
                            </div>
                            <div class="card-body bg-white">
                                <div class="row justify-content-center">
                                    <div class="col-5 border-right">
                                        <canvas id="userRolesChart" height="300" width="300"></canvas>
                                    </div>
                                    <div class="col-5">
                                        <canvas id="userProjectsChart" height="300" width="300"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End of Page Content -->
</div>
<th:block th:replace="layouts :: layoutFooter"></th:block>

<script>const ticketPriorityCount = "[[${ticketPriorityCount}]]";</script>
<script>const ticketProjectCount = "[[${ticketProjectCount}]]";</script>
<script>const ticketStatusCount = "[[${ticketStatusCount}]]";</script>
<script>const userRolesCount = "[[${userRolesCount}]]";</script>
<script>const userProjectsCount = "[[${userProjectsCount}]]";</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.js"></script>
<script type="text/javascript" th:src="@{/js/charts.js}"></script>
<th:block th:replace="layouts :: layoutScripts"></th:block>

</body>

</html>