<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>

    <th:block th:replace="layouts :: layoutHeader"></th:block>

    <title th:replace="layouts :: layoutTitle"></title>

</head>

<body>

<div id="wrapper">
    <th:block th:replace="layouts :: layoutSidebar"></th:block>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <th:block th:replace="layouts :: layoutNavbar"></th:block>

            <!-- Page Content -->
            <div class="container-fluid">

                <div class="custom-card-container">

                    <!-- Header -->
                    <div class="card-container-header">
                        <h4 class="row">Project Details</h4>
                        <div class="row">
                            <a sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')"
                               th:href="@{/projects/{id}/update(id=${project.id})}">Edit</a>
                        </div>
                    </div>

                    <!-- First row -->
                    <div class="row border-bottom m-2 py-4 justify-content-around">
                        <div class="col-5 m-2 p-0">
                            <h5 class="pb-2 font-weight-bold">Project Name</h5>
                            <h6 th:text="*{project.name}"></h6>
                        </div>

                        <div class="col-5 m-2 p-0">
                            <h5 class="pb-2 font-weight-bold">Description</h5>
                            <h6 th:text="*{project.description}"></h6>
                        </div>
                    </div>

                    <!-- Second row -->
                    <div class="row justify-content-center align-items-start py-2 m-0">

                        <!-- Users list -->
                        <div class="card col-xl-4 shadow m-2 p-0">
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold">Users</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-borderless">
                                    <thead>
                                    <tr class="border-bottom border-dark">
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="border-top"
                                        th:each="user : ${project.users}">
                                        <td th:text="${user.fullName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:each="role : ${user.roles}" th:text="${role}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Tickets list -->
                        <div class="card col-xl-7 shadow m-2 p-0">
                            <div class="card-header py-3">
                                <div class="row">
                                    <h5 class="col m-0 font-weight-bold">Tickets</h5>
                                    <a class="col mr-4 text-right"
                                       th:href="@{/tickets/new(project=${project.id})}">Create Ticket</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-borderless">
                                    <thead>
                                    <tr class="border-bottom border-dark">
                                        <th>Title</th>
                                        <th>Submitter</th>
                                        <th>Priority</th>
                                        <th>Status</th>
                                        <th>Created</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="border-top" id="tickets"
                                        th:each="ticket : ${tickets}">
                                        <td th:text="${ticket.title}"></td>
                                        <td th:text="${ticket.submitter.fullName}"></td>
                                        <td th:text="${ticket.priority.displayValue}" id="ticketPriority"></td>
                                        <td th:text="${ticket.status.displayValue}" id="ticketStatus"></td>
                                        <td th:text="${ticket.creationDate}"></td>
                                        <td><a th:href="@{/tickets/{id}(id=${ticket.id})}">More Details</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Page Content -->
        </div>
        <th:block th:replace="layouts :: layoutFooter"></th:block>
    </div>

</div>

<th:block th:replace="layouts :: layoutScripts"></th:block>
<script th:src="@{/js/ticket-lists.js}"></script>
</body>

</html>